rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow any read/write since we're using the local emulator and 
    // want the seed page to work without needing to sign in first.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
